/* Estilo básico para el cuerpo */
/* Estilo básico para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    position: relative; /* Necesario para el pseudo-elemento */
    overflow: hidden; /* Evita el scroll innecesario debido a la animación */
    height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    margin: 0;
}

/* Imagen de fondo animada */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('logo_del_logueo.jpeg'); 
    background-size: cover; 
    background-position: center;
    opacity: 0.5; 
    z-index: -1; 
    animation: moveBackground 30s infinite linear; 
}

@keyframes moveBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}

/* Estilo del formulario */
form {
    background-color: rgba(43, 43, 43, 0.9); /* Fondo oscuro con transparencia */
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el formulario */
}

/* Estilo del título */
.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    display: block;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}

/* Estilo de las etiquetas */
.lbl-datosPersonales {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5px;
    display: block;
}

/* Estilo de los campos de texto */
.txt-datosPersonales {
    color: #ffffff;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: #333333;
    box-sizing: border-box;
}

/* Estilo para los campos de fecha */
.date {
    display: flex;
    justify-content: space-between;
}

/* Estilo de los campos de fecha */
.fecNacimiento {
    color: #ffffff;
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: #333333;
    text-align: center;
}

/* Estilo del contenedor de botones */
.botones {
    display: flex;
    justify-content: space-between;
}

/* Estilo de los botones */
.btn-atras, .btn-continuar {
    background-color: #0f7bee;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    width: calc(45% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-atras:hover, .btn-continuar:hover {
    background-color: #0056b3;
}
